h1{
    color: green;
    font-family: times new roman;
}

p{
    color: coral;
    font-family: fantasy;
}

ul{
    list-style-image: url('images/pointer-icon.png');
}

ol{
    list-style-type: upper-roman;
}

a{
    text-decoration: none;
    background-color: #ff7f7f;
}

#menu-bar a:hover{
    background-color: aqua;
    color: white;
}

#menu-bar a{
    font-family: Helvetica, sans-serif;
    text-decoration: none;
    background-color: chocolate;
    padding: 5px;
}